:root {
  --mainColor: #15202b;
  --secondaryColor: #192734;

  --mainShadow: 3px 3px 3px #263649, -3px -3px 3px #263649;

  --borderColor: #164d56;

  --mainText: #fff;
  --secondaryText: #eeeeee;
  --linkText: #ea7773;

  --themeDotBorder: #fff;

  --previewBg: rgba(25, 39, 52, 0.8);
  --previewShadow: #111921;

  --buttonColor: #17a2b8;
}
