:root {
  --mainColor: #6ca1ec;
  --secondaryColor: #649ae0;

  --mainShadow: 3px 3px 3px #547daf, -3px -3px 3px #9ebbe0;

  --borderColor: #164d56;

  --mainText: #fff;
  --secondaryText: #eeeeee;
  --linkText: #dace2f;

  --themeDotBorder: #fff;

  --previewBg: rgba(53, 102, 155, 0.6);
  --previewShadow: #367eb6;

  --buttonColor: #dace2f;
}
