:root {
  --mainColor: #90b8f0;
  --secondaryColor: #c3dbfa;

  --mainShadow: 3px 3px 3px #5f90cc, -3px -3px 3px #c4d8f3;

  --borderColor: #60a0dd;

  --mainText: #333331;
  --secondaryText: #4b5156;
  --linkText: #232869;

  --themeDotBorder: #24292e;

  --previewBg: rgb(251, 249, 243, 0.6);
  --previewShadow: #6aade0;

  --buttonColor: #232869;
}
