:root {
  --mainColor: #9ec9a8;
  --secondaryColor: #b7e6c2;

  --mainShadow: 5px 5px 5px #6b9274, -3px -3px 3px #b7e0c0;

  --borderColor: #4a925f;

  --mainText: #333331;
  --secondaryText: #4b5156;
  --linkText: #217433;

  --themeDotBorder: #24292e;

  --previewBg: rgb(251, 249, 243, 0.6);
  --previewShadow: #72b68a;

  --buttonColor: #11a834;
}
