:root {
  --mainColor: #46344e;
  --secondaryColor: #382a3f;

  --mainShadow: 5px 5px 5px #5b4e6d, -3px -3px 3px #67547e;

  --borderColor: #926e9e;

  --mainText: #fff;
  --secondaryText: #eeeeee;
  --linkText: #01cbc6;

  --themeDotBorder: #fff;

  --previewBg: rgb(29, 21, 32, 0.8);
  --previewShadow: #2b202f;

  --buttonColor: #a555c2;
}
